
<div ng-controller="layouts.SplashController" class="l-splash">


	<!-- BEGIN: Layout Container. -->
	<div class="l-container">


		<!-- BEGIN: Layout Header. -->
		<div class="l-header">

			<span class="title">
				Interaktiv Forelasning<br />
            </span>
		</div>

		<div class="l-login">
            <div id="logged-in"><button id="log-out">Logga ut</button><span>Du ar inloggad som <span id="login-name"></span>.
            </div>
            <div id="logged-out"><button>Logga in</button> Du ar inte inloggad.
            </div>
            <p id='summary'>Laddar...</p>
        </div>

		<!-- END: Layout Header. -->


		<!-- Include Body Content. -->
		<div ng-switch="subview" class="l-body">
			<div ng-switch-when="home" ng-include=" 'assets/app/views/home/index.htm' "></div>
		</div>


	</div>
	<!-- END: Layout Container. -->


	<!-- BEGIN: Layout Footer. -->
	<div class="l-footer">

		<div class="description">
            En applikation med AngularJS baserad pa Ben Nadels arbete med 'deep-routing'.
		</div>

		<div class="author">
			Av: Robin Osborne
		</div>

	</div>
	<!-- END: Layout Footer. -->


</div>