
<div ng-controller="quiz.QuizController">

    <div id="container" style="max-width: 90%; height: 100%; margin: 0 auto; font-size: 32px; margin-top: 40px">

        <div id="quiz-box" style="max-width: 90%; height: 100%; margin: 0 auto; font-size: 32px; margin-top: 40px">
            <h3 data-bind="text: question"></h3>
            <p>Please rate the following from 1 to 5 stars.</p>
    
            <table>
                <thead><tr><th>  Material  </th><th>  Rating</th></tr></thead>
                    <tbody data-bind="foreach: answers">
                        <tr>
                            <td data-bind="text: answerText"></td>
                            <td data-bind="starRating: points"></td>
                        </tr>    
                    </tbody>
            </table>

            <button data-bind="click: save" div id="submit_button" style="height:100px; width:200px; font-size: 48px; margin-top: 80px">Submit</button>
            <!---->
         </div>

     </div>

</div>