
<div ng-controller="chat.ChatListController" ng-switch="isLoading">

	<!-- BEGIN: Loading Sequence. -->
	<div ng-switch-when="true">
		Loading....
	</div>
	<!-- END: Loading Sequence. -->

	<!-- BEGIN: View. -->
	<div ng-switch-when="false">

        <div id='wrapper'>
        <article>
		    <div class="m-chat-list-header">

			    <h1>
				    {{ room.name }}
			    </h1>

			    <span class="back">
				    <a href="#/chat">Back</a> &raquo;
			    </span>

		    </div>

		    <p>
			    {{ room.description }}
		    </p>

            <div class="progress progress-striped active" id="progress_bar">
              <div class="bar" style="width: 100%;"></div>
            </div>
            <div class="well">
            <b>Status: {{ realtimeStatus }} </b> <br/>
                <form class="form-vertical">
                    <label style="font-size: 32px; margin-top: 20px">Name:</label> <br/>
                    <input style="font-size: 32px; width: 90%; height: 60px" placeholder="Your name" type="text" name="username" ng-model="message.username"/> <br/>                                 
                    <label style="font-size: 32px; margin-top: 20px">Message:</label> <br/>
                    <input style="font-size: 32px; width: 90%; height: 60px" placeholder='Write a new message' type="text" name="text" ng-model="message.text"/> <br/>              
                    <button type="submit" ng-click="publish(message)" class="btn btn-primary" style="height:50px; width:100px; font-size: 32px; margin-top: 40px">Send</button> <br/>     
                </form>
            </div>
            <hr/>

            <!-- Message List -->
            <div id="messages" class="table-striped">
                <div class="message" ng-repeat="message in messages" cool-fade>
                <div class="avatar-frame">
                <!-- This will only be an empty grey avatar picture since there is no email address -->
                <img ng-src="http://www.gravatar.com/avatar/{{message.email}}?s=60&r=R&d=https://www.guardly.com/commonassets/images/img_profile_placeholder.png" class="avatar avatar-60 photo" height="60" width="60"/>
                </div>
                <p class="user">{{message.username}} said:</p>
                    <p class="text">{{message.text}}</p>
                </div>
            </div>

       </article>
	   </div>
    </div>
</div>