
<div ng-controller="chat.ChatListController" ng-switch="isLoading">


	<!-- BEGIN: Loading Sequence. -->
	<div ng-switch-when="true">


		Loading....


	</div>
	<!-- END: Loading Sequence. -->


	<!-- BEGIN: View. -->
	<div ng-switch-when="false">

        <div id='wrapper'>
        <article>
		<div class="m-chat-list-header">

			<h1>
				{{ room.name }}
			</h1>

			<span class="back">
				<a href="#/chat">Back to Rooms</a> &raquo;
			</span>

		</div>

		<p>
			{{ room.description }}
		</p>

<!--        <div class="progress progress-striped active" id="progress_bar">
          <div class="bar" style="width: 100%;"></div>
        </div>
        <div class="well">
        <b>Status: {{realTimeStatus}} </b>
            <form class="form-horizontal">
                <label>Name:</label> <input placeholder="Your Name" type="text" name="username" ng-model="message.name"/> <br/>            
                <label>Message:</label> <input placeholder="What's on your mind?" type="text" name="text" ng-model="message.text"/>               
            <button type="submit" ng-click="publish()" class="btn btn-primary">Send</button>     
        </form>
        <hr/>
              
        <!-- Message List -->
<!--        <div id="messages" class="table-striped">
            <div class="message" ng-repeat="message in messages" cool-fade>
            <div class="avatar-frame">
            <img ng-src="http://www.gravatar.com/avatar/{{message.email}}?s=60&r=R&d=https://www.guardly.com/commonassets/images/img_profile_placeholder.png" class="avatar avatar-60 photo" height="60" width="60"/>
            </div>
            <p class="user">{{message.name}} said:</p>
                <p class="text">{{message.text}}</p>
            </div>
        </div>-->

<!--		<ul>
			<li ng-repeat="chat in chats">

				<a href="#/chat/{{ room.id }}/{{ chat.id }}">{{ chat.name }}</a> - 
				{{ chat.breed }}

			</li>
		</ul>-->

        <form id='add-item'>
            <button type='submit'>Skicka</button>
            <div><input type='text' id='new-item-text' placeholder='Skriv en ny meddelande' /></div>
        </form>

        <ul id='message-items'></ul>
        <p id='summary'>Laddar...</p>

	</div>
	<!-- END: View. -->
    </article>
    </div>

</div>