
<div ng-controller="chat.ChatListController" ng-switch="isLoading">

	<!-- BEGIN: Loading Sequence. -->
	<div ng-switch-when="true">
		Laddar....
	</div>
	<!-- END: Loading Sequence. -->

	<!-- BEGIN: View. -->
	<div ng-switch-when="false">

        <div id='wrapper'>
        <article>
		    <div class="m-chat-list-header">

			    <h1>
				    {{ room.name }}
			    </h1>

			    <span class="back">
				    <a href="#/chat">Tillbaka</a> &raquo;
			    </span>

		    </div>

		    <p>
			    {{ room.description }}
		    </p>

            <div class="progress progress-striped active" id="progress_bar">
              <div class="bar" style="width: 100%;"></div>
            </div>
            <div class="well">
            <b>Status: {{ realtimeStatus }} </b> <br/>
                <form class="form-horizontal">
                    <label>Namn:</label> <input placeholder="Ditt namn" type="text" name="username" ng-model="message.username"/> <br/>                                 
                    <label>Meddelande:</label> <input placeholder='Skriv en ny meddelande' type="text" name="text" ng-model="message.text"/>               
                    <button type="submit" ng-click="publish(message)" class="btn btn-primary">Skicka</button>     
                </form>
            </div>
            <hr/>

            <!-- Message List -->
            <div id="messages" class="table-striped">
                <div class="message" ng-repeat="message in messages" cool-fade>
                <div class="avatar-frame">
                <img ng-src="http://www.gravatar.com/avatar/{{message.email}}?s=60&r=R&d=https://www.guardly.com/commonassets/images/img_profile_placeholder.png" class="avatar avatar-60 photo" height="60" width="60"/>
                </div>
                <p class="user">{{message.username}} said:</p>
                    <p class="text">{{message.text}}</p>
                </div>
            </div>

       </article>
	   </div>
    </div>
</div>