
<div ng-controller="chat.RoomController" ng-switch="isLoading">

	<!-- BEGIN: Loading Sequence. -->
	<div ng-switch-when="true">
		Laddar....
	</div>
	<!-- END: Loading Sequence. -->

	<!-- BEGIN: View. -->
    <div ng-switch-when="false">

		<h1>
			Välj ett chattrum:
		</h1>

		<p>
			I vår demo finns där bara två chattrum.
		</p>

        <!-- List the rooms.-->
		<ul class="m-room-list">

			<li ng-repeat="room in rooms">

				<a href="#/chat/{{ room.id }}">
					<span class="name">{{ room.name }}</span>
					<span class="description">{{ room.description }}</span>
				</a>
			</li>
		</ul>		
	</div>
	<!-- END: View. -->

</div>